<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test ESP</title>

    <!-- CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- JS -->
    <script type="module" src="bootstrap/jquery.slim.min.js"></script>
    <script type="module" src="bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="vue.js"></script>
    <script type="module" src="vueConfig.js"></script>

</head>

<body class="bg-dark">
    <div id="vue-root" class="bg-dark p-3">
        <div class="d-flex justify-content-between mb-3">
            <div style="position: relative;">
                <div :class="{'dual-ring-load':true, 'd-none':!resetting}" style="left: 35%; top: -20%"></div>
                <button class="btn btn-dark" @click="showResetRoomModal">Reset Room</button>
            </div>
            <div style="position: relative;">
                <div :class="{'dual-ring-load':true, 'd-none':!espModules.miniPC.loading}" style="left: -35%; top: -20%"></div>
                <button class="btn btn-dark" @click="statusIntervalRunning = !statusIntervalRunning">Status Refresh in
                    {{timeUntilStatusRefresh}}</button>
            </div>
        </div>
        <div class="text-center border rounded" style="background-color: #ffffff;">
            <h2>Puzzles and Other</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="m-3 text-center card">
                    <div class="card-header">
                        <h3>TV's</h3>
                    </div>
                    <div class="mt-2 card-body">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-dark" @click="sendESPMessage('miniPC', '?monster=true')">Activate
                                Monster</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('miniPC', '?monster=false')">Deactivate Monster</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('miniPC', '?monster=preseek')">Seek</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('miniPC', '?clockmode=tick')">Normal</button>
                        </div>
                    </div>
                </div>
                <div class="m-3 text-center card">
                    <div class="card-header">
                        <h3>Puzzles</h3>
                        <div :class="{'dual-ring-load':true, 'd-none':!espModules.dialPuzzle.loading}"></div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mr-2">Dial Puzzle:</h4>
                            <button class="btn btn-dark mr-2" @click="sendESPMessage('dialPuzzle', '?leds=on')"
                                :disabled="espModules.dialPuzzle.loading">Enable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('dialPuzzle', '?leds=off')"
                                :disabled="espModules.dialPuzzle.loading">Disable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('miniPC', '?solved=dial')">Mark as Solved</button>
                        </div>
                        <div class="mt-2 d-flex justify-content-center">
                            <h4 class="mr-2">Potentiometers:</h4>
                            <button class="btn btn-dark mr-2" @click="sendESPMessage('potentiometer', '?enabled=true')"
                                :disabled="espModules.dialPuzzle.loading">Enable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('potentiometer', '?enabled=false')"
                                :disabled="espModules.dialPuzzle.loading">Disable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('miniPC', '?solved=pot')">Mark as Solved</button>
                            </div>
                        <div class="mt-2 d-flex justify-content-center">
                            <h4 class="mr-2">5-Digit Number Combo:</h4>
                            <button class="btn btn-dark mr-2" @click="sendESPMessage('numberPuzzle', '?enabled=true')"
                                :disabled="espModules.dialPuzzle.loading">Enable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('numberPuzzle', '?enabled=false')"
                                :disabled="espModules.dialPuzzle.loading">Disable</button>
                            <button class="btn btn-dark" @click="sendESPMessage('miniPC', '?solved=number')">Mark as Solved</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="m-3 text-center card">
                    <div class="card-header">
                        <div class="position-absolute" style="padding-bottom: 5px;">
                            <button class="btn btn-dark" @click="sendESPMessage('clock', '?reset=on')"
                            :disabled="espModules.clock.loading">Reset</button>
                        </div>
                        <h3>Clock Stuff</h3>
                        <div :class="{'dual-ring-load':true, 'd-none':!espModules.clock.loading}"></div>
                        <button class="btn btn-dark" @click="getClockStatus">Refresh</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4>Rotary Count: {{status.rotaryCounter}}</h4>
                            </div>
                            <div class="col">
                                <h4>Clock Status: {{status.clockmode}}</h4>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-dark" @click="sendESPMessage('clock', '?pause=on')"
                                :disabled="espModules.clock.loading">Pause Clock</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('clock', '?normal=on');"
                                :disabled="espModules.clock.loading">Tick Normally</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('clock', '?reverse=on');"
                                :disabled="espModules.clock.loading">Reverse</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('clock', '?fastForward=on');"
                                :disabled="espModules.clock.loading">Fast Forward</button>
                        </div>
                    </div>
                </div>
                <div class="m-3 text-center card" style="border-color: #c79d15;">
                    <div class="card-header">
                        <h3>Puzzles that have been solved</h3>
                    </div>
                    <div class="card-body">
                        <div v-for="name in solvedPuzzles" class="text-center">
                            <h5>{{capitalizeFirstLetter(name)}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="m-3 text-center card">
                    <div class="card-header">
                        <h3>Phone Base</h3>
                    </div>
                    <div class="mt-2 card-body">
                        <div class="d-flex justify-content-around">
                            <div v-if="soundEffectsLinked">
                                <!-- <select v-model="status.selectedTapeEffect">
                                    <option v-for="(value, key) in soundEffects" :value="value">{{key}}</option> 
                                </select> -->
                                <input type="number" v-model="status.selectedTapeEffect">
                            </div>
                            <div v-else>
                                <select v-model="status.selectedPhoneEffect">
                                    <option v-for="(value, key) in soundEffects" :value="value">{{key}}</option> 
                                </select>
                                <!-- <input type="number" v-model="status.selectedPhoneEffect"> -->
                            </div>
                            <button class="btn btn-dark"
                                @click="playPhoneSoundEffect">Play</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('phoneBase', '?song=pause')">Pause</button>
                            <button class="btn btn-dark" @click="sendESPMessage('phoneBase', '?vol=min')">Vol
                                Min</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('phoneBase', '?vol=mid')">Vol Max</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="d-flex justify-content-center">
                    <button :class="{'btn btn-dark rounded':true, 'not-linked':!soundEffectsLinked, 'linked':soundEffectsLinked}" @click="soundEffectsLinked = !soundEffectsLinked">Link</button>
                </div> -->
                <div class="m-3 text-center card">
                    <div class="card-header">
                        <h3>Tape Player</h3>
                    </div>
                    <div class="mt-2 card-body">
                        <div class="d-flex justify-content-around">
                            <select v-model="status.selectedTapeEffect">
                                <option v-for="(value, key) in soundEffects" :value="value">{{key}}</option> 
                            </select>
                            <!-- <input type="number" v-model="status.selectedTapeEffect"> -->
                            <button class="btn btn-dark"
                                @click="playTapePlayerSoundEffect">Play</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('tapePlayer', '?song=pause')">Pause</button>
                            <button class="btn btn-dark" @click="sendESPMessage('tapePlayer', '?vol=min')">Vol
                                Min</button>
                            <button class="btn btn-dark"
                                @click="sendESPMessage('tapePlayer', '?vol=mid')">Vol Max</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-1">
        <div class="text-center border rounded" style="background-color: #ffffff;">
            <h2>Lockboxes</h2>
        </div>
        <div class="row">
            <div v-for="(lockbox, index) in lockboxes" class="col">
                <div :class="{'m-3 text-center card':true, 'solved':solvedPuzzles.includes(lockbox.puzzleName)}">
                    <div class="card-header">
                        <h3>Box {{index+1}}</h3>
                        <div :class="{'dual-ring-load':true, 'd-none':!lockbox.loading}" style="top: 0px; left: 5px;"></div>
                    </div>
                    <div class="card-body">
                        <!-- <div class="row">
                            <div class="col">
                                <h4>Box status: {{lockbox.status}}</h4>
                            </div>
                        </div> -->
                        <div class="mt-2">
                            <button class="btn btn-dark" @click="sendLockboxMessage(lockbox, 'latch=change')"
                            :disabled="lockbox.loading">Activate Box</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" ref="resetRoomModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Are you sure you want to reset the room?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" @click="resetRoom">RESET</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>

</body>

</html>